@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Montserrat', sans-serif;
  background-color: #f4f4f9;
  color: #333;
}

.specialisation {
  padding: 60px 20px;
  background-color: #f4f4f9;
  color: #333;
  text-align: center;
}
.eduexp {
  display: flex;
  background-color: #f4f4f9;
  justify-content: space-evenly;
  padding: 40px 50px;
  flex-wrap: wrap;
}

.eduexp section {
  padding: 30px;
  border-radius: 15px;
  max-width: 45%;
  transition: #f4f4f9 0.3s, transform 0.3s;
  height: auto;
  box-shadow: 0 10px 18px rgba(0, 0, 0, 0.2);
  margin-bottom: 20px;
  background-color: white;
}

.eduexp section:hover {
  background-color: #d46288;
  transform: translateY(-10px);
}

.eduexp h2 {
  font-size: 2.5rem;
  text-align: center;
  margin-bottom: 20px;
  font-weight: 700;
  color: #333;
}

.course h3 {
  font-weight: 700;
  font-size: 1.75rem;
  margin-bottom: 15px;
  color: #333;
}

.course p {
  font-size: 1rem;
  line-height: 1.6;
  margin-bottom: 15px;
  color: #555;
}
