@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

#skills {
  background-color: #f4f4f9;
  color: #333;
  padding: 50px 20px;
  text-align: center;
  
}

#skills h1 {
  font-size: 50px;
  margin-bottom: 70px;
  color: #2c2c2c;
  font-weight: 600;

}

#skills h1 span {
  color: #e91e63;
  
}

.skills-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 30px;
  justify-items: center;
}

.skill {
  background: #ffe6e6; /* Very Light Pink */
  border-radius: 50% 50% 40% 40%;
  padding: 20px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
  transition: transform 0.3s ease-in-out;
  position: relative;
  width: 300px;
  height: 250px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #333; /* Darker text color for better visibility */
  
}

.skill:before,
.skill:after {
  content: '';
  position: absolute;
  background: #e6e6fa; /* Pale Lavender */
  border-radius: 50%;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
  transition: transform 0.3s ease-in-out;
}

.skill:before {
  width: 100px;
  height: 100px;
  top: -40px;
  left: 10px;
}

.skill:after {
  width: 80px;
  height: 80px;
  bottom: -30px;
  right: 20px;
}

.skill:hover {
  transform: translateY(-10px);
}


.skill i {
  font-size: 40px;
  margin-bottom: 20px;
  color: #e91e63;
}

.skill h2 {
  font-size: 24px;
  margin-bottom: 10px;
  color: #333; /* Darker text color for better visibility */
}

.skill p {
  font-size: 18px;
  color: #333; /* Darker text color for better visibility */
}
